{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="error-message" style="color: red;">{{ error }}</div>
    {% endif %}

    <h1>Вход</h1>

    <form action="{{ path('app_login') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" name="_username" id="email" required>
        <label for="password">Пароль:</label>
        <input type="password" name="_password" id="password" required>

        <button type="submit">Войти</button>
    </form>
{% endblock %}
